.button {
  transition:
    background-color 0.3s,
    color 0.3s;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 12px;
  font-size: 1rem;
  white-space: nowrap;

  &:hover {
    filter: brightness(1.1);
  }

  &:active {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.5;
  }
}
