.button {
  transition:
    background-color 0.3s,
    color 0.3s;
  cursor: pointer;
  border: none;
  border-radius: var(--scf-border-radius-medium);
  background-color: var(--scf-color-primary);
  color: var(--scf-color-text);
  padding: var(--scf-spacing-small);
  font-size: 1rem;
  white-space: nowrap;

  &:hover {
    filter: brightness(1.1);
  }

  &:active {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.5;
  }
}
