:root {
  --scf-color-primary: #3498db;
  --scf-color-background: #fff;
  --scf-color-text: #333;
  --scf-spacing-small: 0.5rem;
  --scf-spacing-medium: 1rem;
  --scf-spacing-large: 2rem;
  --scf-border-radius-medium: 0.5rem;
  --scf-border-radius-small: 0.25rem;
}
