.header {
  box-shadow: 0 5px 10px -5px rgb(0 0 0 / 10%);
  background-color: var(--scf-color-background);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
