.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    background-color 0.3s,
    color 0.3s;
  cursor: pointer;
  border: none;
  border-radius: var(--scf-border-radius-small);
  background-color: var(--scf-color-primary);
  color: var(--scf-color-text);
  padding: var(--scf-spacing-small);

  &:hover {
    filter: brightness(1.1);
  }

  &:active {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.5;
  }
}
