.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    background-color 0.3s,
    color 0.3s;
  cursor: pointer;
  border: none;
  border-radius: 90px;
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 8px;

  &:hover {
    filter: brightness(1.1);
  }

  &:active {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.5;
  }
}
